<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:sec="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
		
	<!-- DataSource para la conexion a MariaDB -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="org.mariadb.jdbc.Driver" />
	    <property name="url" value="jdbc:mariadb://localhost:3306/pizzacar" />
	    <property name="username" value="root" />
	    <property name="password" value="12345678" />
	</bean>
	
	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="sessionFactoryBean"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan"	value="es.cenjorapps.pizzacar.core.data.model" />
		<property name="hibernateProperties">
			<props>
				<!-- Esta propiedad es valida para Hibernate 5 pero no para el 4 
				<prop key="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</prop>
				-->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryBean" />
	</bean>
	
	<!-- Para la encryptacion de datos -->
	<bean id="passwordEncoderBean" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	
	<!-- Para el envío de Mail con Spring 4 -->
	<bean id="javaMailSenderBean" class="org.springframework.mail.javamail.JavaMailSenderImpl" />
	
	<!-- Configuración del AuthenticationProvider -->
    <bean id="databaseAuthenticationProvider" class="es.cenjorapps.pizzacar.core.security.DatabaseAuthenticationProvider">
        <property name="userAuthenticationService" ref="userAuthenticationServiceBean"/>
    </bean>
    <!-- Configuración de la autenticación -->
    <sec:authentication-manager alias="authManager">
        <sec:authentication-provider ref="databaseAuthenticationProvider"/>
    </sec:authentication-manager>
    
    <!-- Configuración de las reglas de seguridad -->
	<sec:http auto-config="true" use-expressions="true">
		<sec:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<sec:intercept-url pattern="/user/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_REGIS')" />
		<sec:intercept-url pattern="/employee/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLEADO')" />
		<sec:intercept-url pattern="/index.xhtml" access="permitAll" />
		<sec:intercept-url pattern="/home.xhtml" access="permitAll" />
		<sec:intercept-url pattern="/login.xhtml" access="permitAll" />
		<sec:intercept-url pattern="/carta.xhtml" access="permitAll" />
		<sec:intercept-url pattern="/contacto.xhtml" access="permitAll" />
		<sec:intercept-url pattern="/sobreMi.xhtml" access="permitAll" />
		<sec:intercept-url pattern="/confirmar.xhtml" access="permitAll" />
		<sec:intercept-url pattern="/registro.xhtml" access="permitAll" />
		
		<sec:form-login login-page="/home.xhtml" />
		<sec:access-denied-handler error-page="/error/acceso_restringido.xhtml" />
		<sec:csrf disabled="true" />
	</sec:http>
		
	<!-- DAOS -->
	<bean id="categoriaDAOBean" class="es.cenjorapps.pizzacar.core.data.dao.CategoriaDAO" />
	<bean id="detallePedidoDAOBean" class="es.cenjorapps.pizzacar.core.data.dao.DetallePedidoDAO" />
	<bean id="estadoDAOBean" class="es.cenjorapps.pizzacar.core.data.dao.EstadoDAO" />
	<bean id="pedidoDAOBean" class="es.cenjorapps.pizzacar.core.data.dao.PedidoDAO" />
	<bean id="productoDAOBean" class="es.cenjorapps.pizzacar.core.data.dao.ProductoDAO" />
	<bean id="rolDAOBean" class="es.cenjorapps.pizzacar.core.data.dao.RolDAO" />
	<bean id="usuarioDAOBean" class="es.cenjorapps.pizzacar.core.data.dao.UsuarioDAO" />
	
	<!-- SERVICES -->
	<bean id="usuarioServiceBean" class="es.cenjorapps.pizzacar.core.service.UsuarioService">
		<property name="sessionFactory" ref="sessionFactoryBean" />
		<property name="usuarioDao" ref="usuarioDAOBean" />
		<property name="passwordEncoder" ref="passwordEncoderBean" />
	</bean>
	<bean id="rolServiceBean" class="es.cenjorapps.pizzacar.core.service.RolService">
		<property name="sessionFactory" ref="sessionFactoryBean" />
		<property name="rolDao" ref="rolDAOBean" />
	</bean>
	<bean id="productoServiceBean" class="es.cenjorapps.pizzacar.core.service.ProductoService">
		<property name="sessionFactory" ref="sessionFactoryBean" />
		<property name="productoDao" ref="productoDAOBean" />
	</bean>
	<bean id="pedidoServiceBean" class="es.cenjorapps.pizzacar.core.service.PedidoService">
		<property name="sessionFactory" ref="sessionFactoryBean" />
		<property name="pedidoDao" ref="pedidoDAOBean" />
	</bean>
	<bean id="estadoServiceBean" class="es.cenjorapps.pizzacar.core.service.EstadoService">
		<property name="sessionFactory" ref="sessionFactoryBean" />
		<property name="estadoDao" ref="estadoDAOBean" />
	</bean>
	<bean id="categoriaServiceBean" class="es.cenjorapps.pizzacar.core.service.CategoriaService">
		<property name="sessionFactory" ref="sessionFactoryBean" />
		<property name="categoriaDao" ref="categoriaDAOBean" />
	</bean>
	<bean id="userAuthenticationServiceBean" class="es.cenjorapps.pizzacar.core.service.UserAuthenticationService">
		<property name="usuarioService" ref="usuarioServiceBean" />
	</bean>
	<bean id="emailServiceBean" class="es.cenjorapps.pizzacar.core.service.EmailService">
		<property name="mailSender" ref="javaMailSenderBean" />
	</bean>
</beans>
